
.page-header {
    border-bottom: 1px solid rgba(236, 236, 236, 1) ;
}

.logo {
    color: var(--accent-color);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.page-header__box {
    display: flex;
    justify-content: space-between;
} 

.page-header__nav {
    display: flex;
    width: 1200;
    align-items: center;
    border: rgba(236, 236, 236, 1);
}

.logo__page-header {
    color:var(--accent-color);
    font-family: var(--secondary-font);

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin-right: 93px;
}

.logo__page-header_logos {
    color:var(--title-text-color) ;
}

.page-header__site-nav {
    display: flex;
    margin-left: 93px;
}


.site-nav__link {
    position: relative;
    color: var(--article-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: inline-block;
    
    
&.site-nav__link_current::after {
    position: absolute;
    content:"";
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    display: block;
    background-color: var(--accent-color);
    border-radius: 2px;
}
&.site-nav__link:hover, 
&.site-nav__link:focus {
    color:var(--accent-color);
}
}

.site-nav__link,
.page-header__site-nav {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}



.site-nav__link_current {
    color: var(--accent-color);
}

.site-nav__item {
    margin-right: 0px;
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link {
    display: block;
    padding-top:  32px;
    padding-bottom: 32px;
}
  
.site-nav__link.current {
    color: var(--accent-color);
  }

.site-nav__item {
    position: relative;
  }

.page-header__site-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-header__site-nav {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact-nav {
    display: flex;
    margin-left: auto;
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    padding-top:  32px;
    padding-bottom: 32px;
    align-items: center;

    &:hover, 
    &:focus {
    color: var(--accent-color);
}
}



.contact-nav__item {
    margin-right: 0px;
}
.contact-nav__item:not(:last-child) {
    margin-right: 50px;
}

.contact-nav__contacts-page {
    display: flex ;
    align-items: center;
    text-decoration: none;
    color: var(--text-people-color);
}
.contact-nav__button-icon {
    margin-right: 10px;
    align-items: center;
    fill: currentColor;
}
.contact-nav__button-icon:hover,
.contact-nav__smartphone {
    fill: var(--accent-color);
}
.contact-nav__smartphone {
    align-items: center;
    margin-right: 10px;
    fill: currentColor;
}
