
.newfolder {
    background-color: var(--primary-white-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.newfolder__folder-list {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

.newfolder__customers-list {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.newfolder__fixt {
    background: var(--primary-white-color) ;
    border-radius: 0px 0px 4px 4px;

    width: 170px;
    height: 92px;
    text-align: center;
}

.newfolder__fixt {
    margin-right: 0px;
}

.newfolder__fixt:not(:last-child) {
    margin-right: 30px;
}

.newfolder__fixt {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
    width: 170px;
    height: 92px;
}

.newfolder__omga{
    fill: var(--icon-fons-color);

    &:hover,
    &:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
}
}

.newfolder__omga:hover,
.newfolder__omga:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
}

.newfolder__omga { 
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--icon-fons-color);
    border-radius: 4px;
    transition: fill var(--transition);

    &:hover, 
    &:focus{
    fill: var(--accent-color);
}
}


