
.port {
    padding-bottom: 94px;
    padding-top: 94px;
}

.port__site-works {
    display: flex;
    justify-content: center; 
    margin-bottom: 50px;
    align-items: center;
}

.port__link {
    background-color: var(--fon-button-color);
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    border:none;

    &:hover, 
    &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}
}

.port__item {
    margin-right: 0px;
}

.port__item:not(:last-child) {
    margin-right: 8px;
}

.port__project-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 0px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: -30px;
    margin-right: -30px;
}

.port__hor {
    text-decoration: none;

    &:hover,
    &:focus {
        display: block;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
          1px 4px 6px rgba(0, 0, 0, 0.16);
    } 
}

.port__hor {
    transition: box-shadow var(--transition);
    }
    
.port__hor:hover .overlaytext,
.port__hor:focus .overlaytext {
      transform: translateY(0%);
    }

.port__overlay-con {
    position: relative;
    overflow: hidden;
}
.overlaytext {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translateY(100%);
    transition: transform var(--transition);

    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    background-color:var(--over-back-color) ;
    color: var(--primary-white-color);
    margin: 0;
}

.port__works-title {
    color: var(--title-text-color);

    font-weight: 700;   
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 4px;
}
.port__works-text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    margin-top: 0px;
    text-align: center;
}

.port__links {
    border-radius: 4px;
}

.port__links {
    background-color: var(--fon-button-color);
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    border:none;
    transition: color var(--transition), background-color var(--transition),
    box-shadow var(--transition);

    &:hover, 
    &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
}

.port__links {
    padding : 6px 25px;
}

.port__link,
.port__links {
    cursor:pointer;
}

.port__project-list .item {
    margin-bottom: 30px;
    margin-right: 30px;
    width: 370px;
    padding: 0px;
}

.port__card-content {
    padding: 20px 24px;
    border: 1px solid rgba(238, 238, 238, 1)

}
.port__works-title {
    text-align: left;
}
.port__works-text {
    text-align: left;
    margin: 0px;
}
